* {
  box-sizing: border-box;
}
body {
  background: #2c3338;
  color: white;
  font-family: sans-serif;
}

form {
  width: 500px;
  margin: auto;
  background: #555;
  padding: 20px;
  margin-top: 20px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}
label, input,select {
  width: 100%;
  display: block;
  font-size: 1.2em;
}
input, select {
  padding: 5px;
  margin-bottom: 20px;
}
.form_input {
  width: 250px;
}
.inputs_pro {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.inputs_pro > input {
    width: 30%;
}
input[type="submit"] {
  margin: auto;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}
