{% block title %}ADMINISTRACIÒN DE PROTOCOLOS{% endblock %}

{% block content %}
<head>
    <title>PROTOCOLOS</title>
  </head>
  <body>    
	<form action="/rip" method="POST">
	      <h1>PROTOCOLO RIP</h1>
	      <label for="">Router: </label>
	      <select name="RIPopcion" id="RIPopcion">
			  <option value="R1">R1</option>
			  <option value="R2">R2</option>
			  <option value="R3">R3</option>
			  <option value="R4">R4</option>
		  </select>
 	      <input type="submit" value="Enviar">
  	</form>

	<form action="/ospf" method="POST">
	      <h1>PROTOCOLO OSPF</h1>
	      <label for="">Router: </label>
	      <select name="OSPFopcion" id="OSPFopcion">
			  <option value="R1">R1</option>
			  <option value="R2">R2</option>
			  <option value="R3">R3</option>
			  <option value="R4">R4</option>
		  </select>
 	      <input type="submit" value="Enviar">
  	</form>
	
	<form action="/eigrp" method="POST">
	      <h1>PROTOCOLO OSPF</h1>
	      <label for="">Router: </label>
	      <select name="EIGRPopcion" id="EIGRPopcion">
			  <option value="R1">R1</option>
			  <option value="R2">R2</option>
			  <option value="R3">R3</option>
			  <option value="R4">R4</option>
		  </select>
 	      <input type="submit" value="Enviar">
  	</form>
  </body>
{% endblock %}




{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style-newform.css')}}" >
{% endblock %}
