{% block content %}
<head>
    <title>REDES</title>
  </head>
  <body>  
    <div class="header">
        <a href="http://127.0.0.1:5000/menu">Menu</a>
        <a href="http://127.0.0.1:5000/admin_pro">Administración de protocolos</a>
        <a href="http://127.0.0.1:5000/crud_user_router">Usuarios de routers</a>
        <a href="http://127.0.0.1:5000/crud_user_system">Usuarios del sistema</a>		
    </div>  
	<main>
	  <h1>CRUD Usuarios del Sistema</h1>
	</main>

    <table>
        <tr>
            <th>Nombre de Usuario</th>
            <th>Fecha de Alta</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
        {% for user in users %}    
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.date_added }}</td>
                <td><a class="modify" href="/update_user_system?_id={{user._id}}&username={{user.username}}">Modificar</a></td>
                <td><a class="delete" href="/delete_user_system/{{user._id}}">Eliminar</a></td>
            </tr>
        {% endfor %}
    </table>

    <form class="form_input" action='/crud_user_system' method='POST'>
        <input type="submit" value="Nuevo Usuario">
    </form>
	
  </body>
{% endblock %}




{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{url_for('static',filename='js/script.js')}}"></script>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" >
<link rel="stylesheet" href="{{url_for('static',filename='css/style-crudusersystem.css')}}" >
<link rel="stylesheet" href="{{url_for('static',filename='css/style-newform.css')}}" >
{% endblock %}
