

{% block content %}
<head>
    <title>MENU</title>
  </head>
  <body>    
    <div class="header">
        <a href="http://127.0.0.1:5000/menu">Menu</a>
        <a href="http://127.0.0.1:5000/admin_pro">Administración de protocolos</a>
        <a href="http://127.0.0.1:5000/crud_user_router">Usuarios de routers</a>
        <a href="http://127.0.0.1:5000/crud_user_system">Usuarios del sistema</a>	
    </div>
	<main>
	  <h1>Topologia</h1>
	</main>

    <div class="topologia">
        <img src="{{url_for('static', filename='./Digraph.gv.png')}}">
    </div>

  </body>
{% endblock %}




{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{url_for('static',filename='js/script.js')}}"></script>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" >
<link rel="stylesheet" href="{{url_for('static',filename='css/style-crudusersystem.css')}}" >
<link rel="stylesheet" href="{{url_for('static',filename='css/style-newform.css')}}" >
{% endblock %}
