

{% block content %}
<head>
    <title>MENU</title>
  </head>
  <body>    
	<div class="top-background">
			
			<ul id="menu">
				 <li><a href="http://127.0.0.1:5000/admin_pro">Administraciòn de protocolos</a></li>
				 <li><a href="http://127.0.0.1:5000/crud_user_router">Usuarios de routers</a></li>
				 <li><a href="http://127.0.0.1:5000/crud_user_system">Usuarios del sistema</a></li>
				 <li><a href="#">otro</a></li>

			</ul>
	</div>
	<div align="center"></div>
  </body>
{% endblock %}




{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style-menu.css')}}" >
{% endblock %}
